<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<body>
<!-- 		v-model绑定数据和表单元素值
		一处值有变化，另一处跟着变化 -->
		<div id="app">
			<input type="text" name="" id="" value="" v-model="message"/>
			<p>{{message}}</p>
			<input type="" name="" id="" value="" v-model="message2" @keyup.enter="showMessage"/>
			<p>{{message2}}</p>
			<input type="button" name="" id="" value="点击修改message" @click="setMessage"/>
			<p>{{message}}</p>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el:"#app",
				data:{
					message:"bilibili干杯！",
					message2:"下次一定"
				},
				methods:{
					showMessage:function(){
						alert(this.message)
					},
					setMessage:function(){
						this.message="狗头保命！"
					}
				}
			})
		</script>
	</body>
</html>
